<h1>Edit Piece Info</h1>

<form action="/pieces/<%=piece._id%>?_method=PUT" method="POST">
  <input type="text" name="name" value="<%=piece.name%>" />
  <input type="text" name="price" value="<%=piece.price%>" />
  <input type="text" name="qtyAvailable" value="<%=piece.qtyAvailable%>" />
  <input type="text" name="imageUrl" value="<%=piece.imageUrl%>" />
  <button type="submit">Submit</button>
</form>

</form>
