<h1><%=piece.name%></h1>

<form action="/pieces/<%=piece._id%>/edit" method="GET">
  <button type="submit">Edit</button>
</form>

<div>
    <b>price:</b> $<%=piece.price%>
</div>

<div>
    <b>Quantity Available: </b><%=piece.qtyAvailable%>
</div>

<img src="<%=piece.imageUrl%>" alt="image unavailable"/>

<form action="/pieces" method="get">
    <button type="submit">Back</button>
</form>

<form action="/pieces/<%=piece._id%>?_method=DELETE" method="POST">
  <button type="submit">Delete</button>
</form>
